<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+3&display=swap" rel="stylesheet">

    <link rel="preload" href="public/Logo.png" as="image">

</head>
<header>
  <div class = 'go-back'>
  <img src="Go Back.png" alt="Go Back" (click)="goBack()">
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>