<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+3&display=swap" rel="stylesheet">

</head>
<header style="background-color: #f8f9fa; padding: 10px; text-align: center; font-family: 'Montserrat'; font-weight: 700;">
  <h1 style="font-family: 'Montserrat'; font-weight: 90;">Airflow Portal</h1>
  <nav>
    <a routerLink="/login/manager" style="margin: 0 10px;">Manager Login</a> |
    <a routerLink="/login/tenant" style="margin: 0 10px;">Tenant Login</a>
  </nav>
</header>

<main style="margin: 20px;">
  <router-outlet></router-outlet>
</main>